@import url('https://fonts.googleapis.com/css?family=Lobster+Two|News+Cycle|PT+Sans|Questrial|Sansita');

body {
    width:100%;
    height:100%;
    /*background-color:rgba(26,19,31,.5);
    background-image:url(../../images/matrixblue.jpg);*/
    background-image:url(../../images/bg1.jpg);
    background-position:top;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover; 
}

#img_htmlcssjs{
    min-width: 450px;
}

.img-habilidades{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.img-dbs{
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    margin:0 auto;
}

#img_csharp{
    float: right;
}

.habilidades > .row {
    padding-bottom: 20px;
}

#linkCurriculo{
    float: right;
}

#imgProfile{
    max-width:300px;
    width: auto;
    height: auto;
    margin:0 auto;
    border:3px solid #FFF;
    box-shadow: 0 0px 8px 0 #FFF, 0 0px 20px 0 #FFF;
    -webkit-box-shadow:  0 0px 8px 0 #FFF, 0 0px 20px 0 #FFF;
    -moz-box-shadow:  0 0px 8px 0 #FFF, 0 0px 20px 0 #FFF;
    /*border-radius:15px 15px 20px 20px;
    -webkit-border-radius:15px 15px 20px 20px;
    -moz-border-radius:15px 15px 20px 20px;*/
}

.size-img{
    width: 100px;
    height: 100px;
}

.principal{
    padding-top: 45px;
}
.sobre{
    padding-bottom:20px;
}
.devforyou{
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(255, 255, 255,1);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    width: auto;
    height: auto;
}

.habilidades{
    padding-bottom:20px;
    /*background-color: white;*/
}

.contato{
    padding-bottom:20px;
}

footer{
    background-color:rgba(26,19,31,.91);
    padding-top:34px;
    padding-bottom:20px;
    color:#FFF;
    position:center;
    display:block;
    border-radius:15px 50px 30px;
    -webkit-border-radius:15px 50px 30px;
    -moz-border-radius:15px 50px 30px;
}



.name{
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Questrial', sans-serif;
    font-size:60px;
    color:#FFF;
    text-align:center;
    text-shadow:3px 3px 5px #402;
}

.profission{
    font-family: 'Questrial', sans-serif;
    font-size:50px;
    color:#FFF;
    text-align:center;
    text-shadow:3px 3px 5px #402;
}

.email{
    font-family: 'Titillium Web', sans-serif;
    font-size:30px;
    color:#FFF;
    text-align:center;
    text-shadow:3px 3px 5px #000;
}

.contact{
    font-family: 'Titillium Web', sans-serif;
    font-size:25px;
    color:#FFF;
    text-align:center;
}

.titulos{
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Sansita', sans-serif;
    font-size:50px;
    color:#FFF;
    text-align:center;
    /*text-shadow:1px 1px 4px rgb(26,19,31);*/
    text-shadow:3px 3px 5px #402;
}

.titulo-hab{
    font-family: 'Titillium Web', sans-serif;
    font-size:35px;
    color:#FFF;
    text-align:center;
    text-shadow:3px 3px 5px #000;
}


.subtitulo-hab{
    font-family: 'Titillium Web', sans-serif;
    font-size:25px;
    color:#FFF;
    text-align:center;
    text-shadow:3px 3px 5px #000;
}

.text-devforyou{
    color:#000;
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 35px;    
    text-shadow:1px 1px 2px rgba(0,0,0,0.8);
}

.text-devforyou-1{
    color:darkslateblue;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 50px;    
    text-shadow:3px 3px 5px #FFF;
}

.text-devforyou-2{
    color: darkcyan;
    font-family: 'Sansita', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;    
    text-shadow:3px 3px 5px #FFF;
}

#coffe {
    color:saddlebrown;
}

.emailspan{
    font-size:19px;
}

#imgBackground{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}


ul{
    text-align:center;
    list-style:none;
    margin:0;
    padding-left:0;
}

ul li{
    margin-left:10px;
    display:inline;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
    -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
    -moz-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);

}
    
.div-briefs{
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    background-color:#FFF;
    margin-right:0px;
    margin-bottom:10px;
    min-height:400px;
    padding-top:10px;
    padding-bottom:10px;
}

.text-about-me{
    font-size:17px;
    font-family: 'Titillium Web', sans-serif;
    text-align:justify;
    padding-left:10px;
    padding-right:10px;
}

.title-about-me{
    font-size:25px;
    font-family: 'Titillium Web', sans-serif;
    text-align:center;
    font-weight:bold;
}

.itens-skills{
    max-width:100px;
    max-height:70px;
    display:inline;
    margin-left:35px;
    margin-right:30px;    
}

